@(links: Map[String, String], urlForm: Form[String])

@import helper._
@import helper.twitterBootstrap._

@main("URL Shortener", "%s URL(s)".format(links.size)) {

    <ul>
    @links.map { tuple =>
        <li>
            <a href="@tuple._1" target="_blank">http://localhost:9000/@tuple._1</a>
            ->
            <a href="@tuple._2" target="_blank">@tuple._2</a>

            <a href="@routes.Application.deleteUrl(tuple._1)" class="close">&times;</a>
        </li>
    }
    </ul>

    @form(routes.Application.addUrl()) {
        <fieldset>
            <legend>Shorten a URL</legend>

            @inputText(
                urlForm("url"),
                '_label -> "URL",
                '_help -> "Paste a URL here.",
                '_error -> urlForm.globalError
            )
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Shorten">
        </div>
    }
    
}
